@using DistanceSchool.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Добре дошли в @GlobalConstants.CyrillicProjectName!</h1>
    <img src="~/Images/HomePicture.jpg" class="img-fluid"  alt="School image">
</div>
