@model bool

@if (!Model)
{
    <div class="alert alert-success" role="alert">
        Моля посетете <a href="/Home/Privacy" class="alert-link">Политиката за поверителност</a> като кликнете.
    </div>
}
