
@{
    ViewData["Title"] = "CreateExam";
}

<h1 class="text-lg-center">CreateExam</h1>
<p></p>
<h1 class="text-center text-uppercase" style="color:aqua"><i class="fas fa-person-booth"></i>  Coming soon  <i class="fas fa-person-booth"></i></h1>

<link href="#" rel="stylesheet" />
