<form method="post">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="testName" value="test" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Default checkbox
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="buton2" name="button" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Checked checkbox
        </label>
    </div>
    <input type="submit" value="submit" class="btn btn-success" />
</form>